@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aliceblue;
}

.nav-bar {

}

.nav-elements {
    font-family: 'Quicksand', 'sans-serif';
    font-size: 30px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: 60px;
    border-radius: 0px;
}

.nav-items {
    cursor: pointer;
    text-decoration: none;
}

.nav-items:hover {
    opacity: 50%;
}

.intro-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.build-box {
    font-family: 'Quicksand', 'sans-serif';
    font-size: 100px;
    font-weight: 700;
    line-height: 125px;
    letter-spacing: 0em;
    text-align: left;
    height: 584px;
    width: 688px;
    height: 584px;
    width: 688px;
    padding-left: 70px;
    top: 215px;
    border-radius: 0px;
    top: 215px;
    border-radius: 0px;
    color: #080E41;
}

.build-box-text-content {
    padding-top: 60px;
    height: 149px;
    width: 678px;
    left: 5px;
    top: 435px;
    border-radius: 0px;
    font-family: 'Quicksand', 'sans-serif';
    font-size: 30px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
}

.calender-box {
    padding-right: 76px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calender {
    height: 376px;
    width: 484px;
    left: 952px;
    top: 240px;
    border-radius: 30px;
    background: white;
    box-shadow: 2px -2px 10px 0px #7F7F7F4D;
    box-shadow: -2px -2px 10px 0px #FFFFFF99;
    box-shadow: 20px -2px 23px 0px #696A6A1A;
    box-shadow: -1px -1px 2px 0px #7F7F7F08 inset;
    box-shadow: 1px 1px 2px 0px #FFFFFF4D inset;

}

.calender-top-bar {
    display: flex;
    color: #595A5B;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 37px;
    font-family: 'Quicksand';
    font-size: 25px;
    font-weight: 600;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
}

#june {
    color: black;
}

.row1 {
    display: flex;
    flex-direction: row;
    padding-right: 69px;
    padding-top: 13px;
    justify-content: end;
    gap: 39px;
    font-family: 'Quicksand';
    font-size: 24px;
    font-weight: 500;
    color: #808182;
}

.availability-button {
    padding-top: 60px;
    float: center;
}

.availability-button button {
    background: linear-gradient(93.79deg, #FFFFFF 0%, #FF7020 0%, #F8872D 55.55%, #F19D3A 109.5%);
    height: 80px;
    width: 302px;
    left: 1053px;
    top: 676px;
    border: 0px;
    border-radius: 25px;
    font-family: 'Quicksand';
    font-size: 30px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    color: #FFFFFF;
}

.graphs-box {
    display: flex;
    flex-direction: column;
}

.graphs1 {
    height: 320px;
    width: 320px;
    left: 73px;
    padding-top: 80px;
    border-radius: 0px;
    position: absolute;
}

.graphs2 {
    height: 228.31866455078125px;
    width: 299px;
    left: 240px;
    top: 830px;
    position: absolute;
}